.profile__info-box {
  display: flex;
}
@media screen and (max-width: 890px) {
  .profile__info-box {
    max-width: 282px;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
