.element-grid__text-heart_full {
        border: none;
        background-color: transparent;
        background-image: url("/images/full-heart.png");
        height: 19px;
        width: 21px;
        background-size: contain;
        display: flex;
        justify-content: center;
        align-self: center;
      }
      .element-grid__text-heart_full:hover {
        cursor: pointer;
        opacity: 0.5;
      }
      
}
