.card__image {
  margin: 0;
  padding: 0;
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}
@media screen and (max-width: 890px) {
  .card__image {
    max-width: 282px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}
