.profile__add-button_image {
  border: none;
  background-color: transparent;
  background-image: url("../../../images/add.svg");
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-self: center;
}
@media screen and (max-width: 890px) {
  .profile__add-button_image {
    width: 16px;
    height: 16px;
    background-size: contain;
  }
}
