.profile__occupation {
  grid-area: occupation;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 22px;
  margin-top: 16px;
  font-weight: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 500px;
}
@media screen and (max-width: 890px) {
  .profile__occupation {
    margin-top: 14px;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
}
