.element-grid__text-heart {
  border: none;
  background-color: transparent;
  height: 19px;
  width: 21px;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-self: center;
}
.element-grid__text-heart:hover {
  cursor: pointer;
  opacity: 0.5;
}
@media (hover: hover) and (max-width: 500px) {
  .element-grid__text-heart:hover {
    opacity: 0;
  }
}
