.element-grid__text-heart {
  border: none;
  background-color: transparent;
  background-image: url("/images/empty_heart.jpg");
  height: 19px;
  width: 21px;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-self: center;
}
.element-grid__text-heart:hover {
  cursor: pointer;
  opacity: 0.5;
}
